PORT=5000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.iwo4s7x.mongodb.net/polvora-consultoria?retryWrites=true&w=majority&appName=Cluster0
FRONTEND_URL=https://www.polvora-consultoria.com,https://polvora-consultoria.vercel.app,http://localhost:3000
ADMIN_EMAIL=admin@polvora.com
ADMIN_PASSWORD_HASH=$2a$10$dsURhStdd4mgL2kcgTPGF.wxyL2o4VNg4J16G/iyZ3gx8biKLXaQy
JWT_SECRET=troque-por-uma-chave-longa-e-aleatoria
NODE_ENV=development
